@import './vars';

* {
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color: $dark;
    color: white !important;
    font-family: 'Inter', sans-serif;
}

.logo {
    color: $red;
    font-weight: 800;
}

.col-3 {
    width: 30%;
}