@import './vars';

* {
    margin: 0;
    // overflow-x: hidden;
}

body {
    background-color: $dark;
    color: white !important;
    font-family: 'Inter', sans-serif;

    /* width */
    &::-webkit-scrollbar {
        width: 7px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $red;
        border-radius: 20px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        filter: brightness(1.1);
    }
}

.logo {
    color: $red;
    font-weight: 800;
}

.col-3 {
    width: 30%;
}

.btn {
    padding: 15px 25px;
    transition: 0.3s ease-out;
    color: white;

    &:hover {
        filter: brightness(0.9);
    }
}

.btn-danger {
    background-color: $red !important;
}

.btn-yellow {
    background-color: #959A11 !important;
}

i {
    overflow: hidden;
}

.col {
    flex: none;
}

footer {
    margin-top: 20px; 
    margin-bottom: 30px;
    color: #797979;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
        width: 20px;
    }

    p {
        font-weight: 600;
        margin: 0;
    }
}