@font-face {
  font-family: Inter;
  src: url(/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
.contest {
  margin-top: 0;
}
.contest .info {
  position: relative;
  padding: 0;
  border-radius: 10px;
}
.contest .info img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.contest .info .text {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6));
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 50px;
}
.contest .info .text .content {
  display: flex;
  align-items: start;
  gap: 40px;
}
.contest .info .text .btn {
  padding: 10px 20px;
}
.contest .info .text h1 {
  margin: 0;
}
.contest .info .text img {
  height: 40px;
}
.contest .more-info {
  padding: 0;
}
.contest .more-info .row {
  margin: 0;
  padding: 15px;
  background-color: #c21e05;
  text-align: center;
  font-weight: 600;
  border-radius: 5px 5px 0 0;
}
.contest .more-info .row > * {
  cursor: pointer;
}
.contest .more-info .content {
  padding: 20px;
  border: 2px solid #2c2c2c;
  border-top: 0;
  border-radius: 0 0 5px 5px;
}
.contest .more-info .content p {
  margin-top: 15px;
}
.contest .more-info .show-more {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border: 2px solid #2c2c2c;
  border-radius: 5px;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: 0.3s ease;
}
.contest .more-info .show-more:hover {
  border-color: #535353;
}
.contest .participant-info {
  border: 2px solid #2c2c2c;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}
.contest .participant-info .image {
  width: 300px;
  position: relative;
}
.contest .participant-info .image .play-btn {
  position: absolute;
  inset: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contest .participant-info .text h2 {
  font-weight: 700;
}
.contest .participant-info .text .tags {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
.contest .participant-info .text .tags .tag {
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid #02FF02;
}
.contest .participant-info .text .tags .tag.remix {
  border-color: #959A11;
}
.contest .participant-info .text .part-info {
  display: flex;
  margin: 20px 0;
  gap: 30px;
}
.contest .participant-info .text .part-info p {
  margin: 0;
}
.contest .participant-info .text .part-info > * {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contest .participant-info .text .part-info > * img {
  width: 25px;
}
.contest .participant-info .text .worth {
  margin-bottom: 20px;
  margin-left: 30px;
}
.contest .participant-info .text .worth span {
  color: #02FF02;
}
.contest .participant-info .text input.form-control {
  padding: 0.7em 1.4em;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #2c2c2c;
  color: white;
  box-shadow: none;
  margin-bottom: 15px;
}
.contest .participant-info .text input.form-control::-moz-placeholder {
  color: #535353;
}
.contest .participant-info .text input.form-control::placeholder {
  color: #535353;
}
.contest .participant-info .text .btn {
  width: 100%;
  font-weight: 600;
}
.contest .participant-info img.img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.contest .participants {
  margin-top: 30px;
}
.contest .participants .row {
  gap: 50px;
}
.contest .participants .row .participant {
  border: 2px solid #2c2c2c;
  padding: 0;
  border-radius: 20px;
}
.contest .participants .row .participant p {
  margin: 0;
}
.contest .participants .row .participant .image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contest .participants .row .participant .text {
  padding: 20px;
}
.contest .participants .row .participant .part-info {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}
.contest .participants .row .participant .part-info > * {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contest .participants .row .participant .part-info > * img {
  width: 25px;
}
.contest .participants .row .participant h5 {
  margin-top: 10px;
}
.contest .participants .row .participant .worth {
  text-align: center;
}
.contest .participants .row .participant .worth span {
  color: #02FF02;
}
.contest .participants .row .participant .btn {
  margin-top: 20px;
  width: 100%;
}/*# sourceMappingURL=contest.css.map */