// Tablet Sizes

@media (max-width: 800px) {
    .blur {
        top: -60px !important;
    }

    .navbar {
        .navbar-nav {
            flex-direction: row;
        }
    }

    .hero-section {
        .row {
            flex-direction: column;
            gap: 20px;
        }

        .col {
            width: 100%;
        }
    }

    .contest,
    .charts {
        .row {
            gap: 20px;
        }

        .col-3 {
            width: 48%;
        }
    }

    .contest {
        .info {
            .text {
                flex-direction: column-reverse;
                align-items: start;
                justify-content: end;
                gap: 30px;
                padding: 30px;

                .content {
                    margin-left: auto;
                }
            }
        }

        .participants {
            .row {
                gap: 20px !important;
            }
        }

        .more-info {
            .row>* {
                padding: 0;
            }
        }

    }

    form {
        gap: 0;
        justify-content: space-around;
    }

    .creators {
        .col-md-3 {
            width: 100%;
        }
    }

    .top-playlists {

        .row {
            gap: 20px;
        }

        .col-3 {
            width: 48%;
        }
    }

}

@media (max-width: 766px) {
    .container {
        width: 95% !important;
        max-width: 95% !important;
    }

    .contest {
        .more-info .row {
            gap: 0 !important;
            padding: 0 15px;

            &>* {
                padding: 20px 0;
                border-bottom: 1px solid #ff5b5b;
            }
        }

    }

    form {
        padding: 20px !important;
        gap: 20px !important;
        flex-direction: column;

        .image-uploader {
            height: 300px;
        }

        &>* {
            width: 100% !important;
        }
    }
}

@media (max-width: 740px) {
    .contest .participant-info {
        flex-direction: column;

        &>* {
            width: 100% !important;
        }
    }

    .playlist_page {
        .col {
            text-align: center;
            flex-direction: column;
        }

        .m-info {
            justify-content: center;
        }

        .part-info {
            justify-content: center;
            margin-top: 20px;
        }
    }

    .playlists {
        form {
            flex-direction: column;
        }
    }
}

// Phone Sizes

@media (max-width: 500px) {
    .blur {
        top: 0px !important;
    }

    .navbar {
        .logo {
            font-size: 1.7em;
        }

        .navbar-nav {
            display: none;
        }

        .menu-icon {
            display: flex !important;
        }
    }

    .contest {

        form.contest-upload {
            padding: 0 !important;
        }

        .more-info .content {
            display: block !important;
        }

        .info {
            img {
                height: 300px;
            }
        }

        .content {
            display: none !important;
        }

        .mobile {
            display: flex !important;
        }
    }

    .contest,
    .charts {

        .col-3 {
            width: 100%;
        }
    }

    .top-playlists {
        h1 {
            margin-bottom: 20px;
        }

        .row {
            padding: 0;

            &>* {
                width: 100%;
            }
        }
    }

    .playlists {
        form {
            margin-bottom: 40px !important;
        }
    }

    .playlist_page {
        .title {
            flex-direction: column;
        }

        .stake {
            flex-direction: column;
            margin-top: 10px;

            .btn {
                width: 100%;
            }
        }

        .col .creator {
            justify-content: center;

            p {
                width: fit-content !important;
            }
        }

        .header {
            font-size: 0.9em !important;

            .artist {
                display: none;
            }
        }

        .tracks {
            .track {
                align-items: center;
                font-size: 0.9em;
            }

            .mobile-artist {
                display: block !important;
            }

            .artist {
                display: none;
            }

            .info {
                gap: 20px !important;
                width: -webkit-fill-available;

                img {
                    width: 50px !important;
                }

                button {
                    font-size: 1.1em !important;
                }
            }
        }

        .other-info {
            text-align: right;
        }
    }
}

@media (max-width: 376px) {
    .container {
        width: 93% !important;
        max-width: 93% !important;
    }

    .top-playlists {
        padding: 0 !important;

        .playlist {
            overflow: auto;
        }
    }
}