@import './vars';

.playlists {

    input.form-control {
        padding: 0.7em 1.4em;
        background-color: rgba(255, 255, 255, 0.05);
        border: 2px solid #2c2c2c;
        color: white;
        box-shadow: none;
        margin-bottom: 15px;
        transition: 0.3s ease;

        &::placeholder {
            color: #535353;
        }
    }

    form.create-playlist {
        padding: 30px;
        display: flex;
        gap: 50px;
        border: 2px solid #2c2c2c;
        margin-top: 30px;
        border-radius: 20px;

        .btn {
            padding: 15px 40px;
            margin-left: auto;
            display: block;
        }

        p {
            margin-bottom: 10px;
            margin-top: 0 !important;
        }

        input {
            background-color: black;

            &.file {
                padding: 15px;
                padding-left: 30px;
            }
        }

        .col {
            flex: none;
            width: 60%;
        }
    }

    .uploaded {
        position: absolute;
    }

    .image-uploader {
        width: 200px;
        height: 200px;
        border: 2px solid #2c2c2c;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 10px;

    }

    .upload-button {
        background-color: $red;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .upload-button:hover {
        filter: brightness(0.9);
    }

    .file-input {
        display: none;
        /* Hide the default file input */
    }

    .image-preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        position: relative;
    }
}

.playlist_page {

    .hero {
        width: 100%;
        height: 350px;
        border-radius: 15px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .name {
        margin-top: 20px;
    }

    .tags {
        display: flex;
        gap: 15px;
        margin-top: 20px;
        margin-bottom: 10px;

        .tag {
            padding: 10px 30px;
            border-radius: 10px;
            border: 2px solid #02FF02;
        }
    }

    .col {
        margin-top: 15px;
    }

    .creator {
        display: flex;
        align-items: center;
        gap: 15px;

        p {
            margin: 0;
        }
    }

    .worth {
        span {
            color: #02FF02;
        }
    }

    .stake {
        display: flex;
        gap: 10px;
    }

    .m-info {
        display: flex;
        gap: 60px;
    }

    .part-info {
        display: flex;
        gap: 30px;

        p {
            margin: 0;
        }

        &>* {
            display: flex;
            align-items: center;
            gap: 10px;

            i {
                font-size: 1.2em;
                cursor: pointer;
                overflow: visible;
            }
        }
    }

    .btn {
        width: 50%;
    }

    input.form-control {
        padding: 0.7em 1.4em;
        background-color: rgba(255, 255, 255, 0.05);
        border: 2px solid #2c2c2c;
        color: white;
        box-shadow: none;
        transition: 0.3s ease;

        &::placeholder {
            color: #535353;
        }
    }

    .tracks {
        text-align: left;

        .header {
            display: flex;
            justify-content: space-between;
            font-size: 1.1em;
            font-weight: 500;
            padding: 10px 0;
            border-bottom: 2px solid #2c2c2c;
            margin-bottom: 30px;

            &>* {
                width: 100%;
            }
        }

        .other-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .listeners {
            width: 100px;
        }

        .track {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            cursor: pointer;
            transition: 0.3s ease-in-out;

            &>* {
                width: 100%;
            }

            .img {
                display: flex;
                align-items: center;
                gap: 40px;

            }

            p {
                margin: 0;
            }

            img {
                width: 80px;
            }
        }
    }
}