@font-face {
  font-family: Inter;
  src: url(/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
.playlists input.form-control {
  padding: 0.7em 1.4em;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #2c2c2c;
  color: white;
  box-shadow: none;
  margin-bottom: 15px;
  transition: 0.3s ease;
}
.playlists input.form-control::-moz-placeholder {
  color: #535353;
}
.playlists input.form-control::placeholder {
  color: #535353;
}
.playlists form.create-playlist {
  padding: 30px;
  display: flex;
  gap: 50px;
  border: 2px solid #2c2c2c;
  margin-top: 30px;
  border-radius: 20px;
}
.playlists form.create-playlist .btn {
  padding: 15px 40px;
  margin-left: auto;
  display: block;
}
.playlists form.create-playlist p {
  margin-bottom: 10px;
  margin-top: 0 !important;
}
.playlists form.create-playlist input {
  background-color: black;
}
.playlists form.create-playlist input.file {
  padding: 15px;
  padding-left: 30px;
}
.playlists form.create-playlist .col {
  flex: none;
  width: 60%;
}
.playlists .uploaded {
  position: absolute;
}
.playlists .image-uploader {
  width: 200px;
  height: 200px;
  border: 2px solid #2c2c2c;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
}
.playlists .upload-button {
  background-color: #c21e05;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}
.playlists .upload-button:hover {
  filter: brightness(0.9);
}
.playlists .file-input {
  display: none;
  /* Hide the default file input */
}
.playlists .image-preview {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  position: relative;
}

.playlist_page {
  margin-bottom: 100px;
}
.playlist_page .hero {
  width: 100%;
  height: 350px;
  border-radius: 15px;
}
.playlist_page .hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.playlist_page .name {
  margin-top: 20px;
}
.playlist_page .tags {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.playlist_page .tags .tag {
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid #02FF02;
}
.playlist_page .col {
  margin-top: 15px;
}
.playlist_page .creator {
  display: flex;
  align-items: center;
  gap: 15px;
}
.playlist_page .creator p {
  margin: 0;
}
.playlist_page .worth span {
  color: #02FF02;
}
.playlist_page .stake {
  display: flex;
  gap: 10px;
}
.playlist_page .m-info {
  display: flex;
  gap: 60px;
}
.playlist_page .part-info {
  display: flex;
  gap: 30px;
}
.playlist_page .part-info p {
  margin: 0;
}
.playlist_page .part-info > * {
  display: flex;
  align-items: center;
  gap: 10px;
}
.playlist_page .part-info > * i {
  font-size: 1.2em;
  cursor: pointer;
}
.playlist_page .btn {
  width: 50%;
}
.playlist_page input.form-control {
  padding: 0.7em 1.4em;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #2c2c2c;
  color: white;
  box-shadow: none;
  transition: 0.3s ease;
}
.playlist_page input.form-control::-moz-placeholder {
  color: #535353;
}
.playlist_page input.form-control::placeholder {
  color: #535353;
}
.playlist_page .tracks .header {
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
  font-weight: 500;
  padding: 10px 0;
  border-bottom: 2px solid #2c2c2c;
  margin-bottom: 30px;
}
.playlist_page .tracks .header .track-name {
  width: 30%;
}
.playlist_page .tracks .track {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.playlist_page .tracks .track .img {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 27%;
}
.playlist_page .tracks .track img {
  width: 70px;
}/*# sourceMappingURL=playlists.css.map */