@font-face {
  font-family: Inter;
  src: url(/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
.playlists input.form-control, .playlists textarea.form-control, .podcasts input.form-control, .podcasts textarea.form-control {
  padding: 0.7em 1.4em;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #2c2c2c;
  color: white;
  box-shadow: none;
  margin-bottom: 15px;
  transition: 0.3s ease;
}
.playlists input.form-control::-moz-placeholder, .playlists textarea.form-control::-moz-placeholder, .podcasts input.form-control::-moz-placeholder, .podcasts textarea.form-control::-moz-placeholder {
  color: #535353;
}
.playlists input.form-control::placeholder, .playlists textarea.form-control::placeholder, .podcasts input.form-control::placeholder, .podcasts textarea.form-control::placeholder {
  color: #535353;
}
.playlists form.create-playlist, .playlists form.create-podcast, .podcasts form.create-playlist, .podcasts form.create-podcast {
  padding: 30px;
  display: flex;
  gap: 50px;
  border: 2px solid #2c2c2c;
  margin-top: 30px;
  border-radius: 20px;
}
.btd {
  padding: 7px 40px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  color: white;
}
.music {
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.playlists form.create-playlist .btn, .playlists form.create-podcast .btn, .podcasts form.create-playlist .btn, .podcasts form.create-podcast .btn {
  padding: 15px 40px;
  margin-left: auto;
  display: block;
}
.playlists form.create-playlist p, .playlists form.create-podcast p, .podcasts form.create-playlist p, .podcasts form.create-podcast p {
  margin-bottom: 10px;
  margin-top: 0 !important;
}
.playlists form.create-playlist input, .playlists form.create-playlist textarea, .playlists form.create-podcast input, .playlists form.create-podcast textarea, .podcasts form.create-playlist input, .podcasts form.create-playlist textarea, .podcasts form.create-podcast input, .podcasts form.create-podcast textarea {
  background-color: black;
}
.playlists form.create-playlist input.file, .playlists form.create-playlist textarea.file, .playlists form.create-podcast input.file, .playlists form.create-podcast textarea.file, .podcasts form.create-playlist input.file, .podcasts form.create-playlist textarea.file, .podcasts form.create-podcast input.file, .podcasts form.create-podcast textarea.file {
  padding: 15px;
  padding-left: 30px;
}
.playlists form.create-playlist textarea, .playlists form.create-podcast textarea, .podcasts form.create-playlist textarea, .podcasts form.create-podcast textarea {
  height: 200px;
}
.playlists form.create-playlist .col, .playlists form.create-podcast .col, .podcasts form.create-playlist .col, .podcasts form.create-podcast .col {
  flex: none;
  width: 60%;
}
.playlists .uploaded, .podcasts .uploaded {
  position: absolute;
}
.playlists .image-uploader, .podcasts .image-uploader {
  width: 200px;
  height: 200px;
  border: 2px solid #2c2c2c;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
}
.playlists .upload-button, .podcasts .upload-button {
  background-color: #E34830;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}
.playlists .upload-button:hover, .podcasts .upload-button:hover {
  filter: brightness(0.9);
}
.playlists .file-input, .podcasts .file-input {
  display: none;
  /* Hide the default file input */
}
.playlists .image-preview, .podcasts .image-preview {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  position: relative;
}

.playlist_page .hero {
  width: 100%;
  height: 350px;
  border-radius: 15px;
}
.playlist_page .hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.playlist_page .name {
  margin-top: 20px;
}
.playlist_page .tags {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.playlist_page .tags .tag {
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid #02FF02;
}
.playlist_page .col {
  margin-top: 15px;
}
.playlist_page .creator {
  display: flex;
  align-items: center;
  gap: 15px;
}
.playlist_page .creator p {
  margin: 0;
}
.playlist_page .worth span {
  color: #02FF02;
}
.playlist_page .stake {
  display: flex;
  gap: 10px;
}
.playlist_page .m-info {
  display: flex;
  gap: 60px;
}
.playlist_page .part-info {
  display: flex;
  gap: 30px;
}
.playlist_page .part-info p {
  margin: 0;
}
.playlist_page .part-info > * {
  display: flex;
  align-items: center;
  gap: 10px;
}
.playlist_page .part-info > * i {
  font-size: 1.2em;
  cursor: pointer;
  overflow: visible;
}
.playlist_page .btn {
  width: 50%;
}
.playlist_page input.form-control {
  padding: 0.7em 1.4em;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #2c2c2c;
  color: white;
  box-shadow: none;
  transition: 0.3s ease;
}
.playlist_page input.form-control::-moz-placeholder {
  color: #535353;
}
.playlist_page input.form-control::placeholder {
  color: #535353;
}
.playlist_page .tracks {
  text-align: left;
}
.playlist_page .tracks .header {
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
  font-weight: 500;
  padding: 10px;
  border-bottom: 2px solid #2c2c2c;
  margin-bottom: 30px;
}
.playlist_page .tracks .header > * {
  width: 100%;
}
.playlist_page .tracks .other-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playlist_page .tracks .listeners {
  width: 100px;
}
.playlist_page .tracks .track {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  padding: 10px;
  border-radius: 5px;
}
.playlist_page .tracks .track:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.playlist_page .tracks .track:hover button {
  opacity: 1 !important;
}
.playlist_page .tracks .track .mobile-artist {
  display: none;
  opacity: 0.5;
  font-size: 0.9em;
}
.playlist_page .tracks .track > * {
  width: 100%;
}
.playlist_page .tracks .track .info {
  display: flex;
  align-items: center;
  gap: 40px;
}
.playlist_page .tracks .track .img {
  position: relative;
  overflow: visible;
}
.playlist_page .tracks .track .img button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6em;
  color: white;
  opacity: 0;
  transition: 0.3s ease;
  background-color: inherit;
  border: none;
  outline: none;
  display: flex;
}
.playlist_page .tracks .track .img button i {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
.playlist_page .tracks .track p {
  margin: 0;
}
.playlist_page .tracks .track img {
  width: 70px;
}/*# sourceMappingURL=playlists.css.map */