.staking {
    margin-bottom: 10px;

    h1 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    p.info {
        opacity: 0.9;
    }

    .amount {
        padding: 20px;
        border: 2px solid #2c2c2c;
        border-radius: 15px;

        h2 {
            margin-left: 15px;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        input {
            display: inline-block;
            width: 30%;
            font-size: 1em;
            background-color: black;
            border: 2px solid #2c2c2c;
            color: white;
            box-shadow: none;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            &[type=number] {
                -moz-appearance: textfield;
            }
        }


        .col {
            display: flex;
            align-items: center;
            gap: 2px;
            margin-bottom: 20px;

            p {
                margin: 0;
            }

            img {
                width: 60px;
            }
        }

    }

    .time {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 15px;

        &>* {
            padding: 15px 40px;
            border: 2px solid #2c2c2c;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
                border-color: #4f4f4f;
            }
        }
    }

    .btns {
        display: flex;
        gap: 15px;
        margin-top: 15px;
    }

    .btn {
        width: 100%;
        display: block;
    }

    .positions {
        .section {
            padding: 30px;
            border: 2px solid #2c2c2c;
            height: 300px;
            margin-top: 20px;
            margin-bottom: 3r0px;
            border-radius: 10px;
        }

        p {
            span {
                color: #02FF02;
            }
        }
    }
}

@media (max-width: 800px) {
    .staking {
        .amount {
            h2 {
                font-size: 1.2em;
            }

            input {
                width: 80%;
            }
        }

        .btns {
            flex-direction: column;
            gap: 10px;
        }
    }
}

@media (max-width: 500px) {
    .staking {
        .amount {
            h2 {
                margin: 0;
                margin-bottom: 10px;
            }
        }

        .time {
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;
        }
    }
}

@media (max-width: 330px) {
    .staking {
        .time {
            grid-template-columns: auto;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
    }
}