@import '../../Styles/vars';

.contest {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    h1 {
        margin-bottom: 30px;
    }

    .row {
        justify-content: space-between;
    }

    .more {
        text-align: center;
        color: $red;
        font-size: 1.2em;
        font-weight: 600;
        margin-top: 20px;
    }

    .contestItem {
        border: 2px solid #2c2c2c;
        border-radius: 20px;
        padding: 0;

        img {
            width: 100%;
        }

        .text {
            padding: 20px;
        }

        .name {
            margin-top: 20px;
        }

        .col {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .tags {
            display: flex;
            gap: 15px;
            margin-top: 20px;
            margin-bottom: 10px;

            .tag {
                padding: 10px 30px;
                border-radius: 10px;
            }

            .tag-green {
                border: 2px solid #02FF02;
            }

            .tag-yellow {
                border: 2px solid #959A11;
            }

            .tag-red {
                border: 2px solid #C20505;
            }
        }
    }
}

.head {
    margin-bottom: 3px;
    opacity: 0.8;
    font-size: 0.9em;
}

.charts.container {
    margin: auto;
    margin-bottom: 50px;

    p {
        margin: 0;
    }

    h1 {
        margin-bottom: 20px;
    }

    img {
        width: 100%;
    }

    .row {
        margin-top: 30px;
        justify-content: space-between;
    }

    .col-md-3 {

        .chart_num {
            text-align: center;
            font-weight: 700;
            font-size: 1.2em;
        }

        padding: 0;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid #959A11;
    }

    .text {
        padding: 10px;

        h4 {
            margin-top: 20px;
        }
    }

    .creator {
        margin-bottom: 10px;
    }

    .others {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 20px;

        .other {
            display: flex;
            align-items: center;
            gap: 40px;

            .chart_num {
                font-weight: 700;
                font-size: 1.2em;
                color: #959A11;
            }
        }
    }
}