@font-face {
  font-family: Inter;
  src: url(/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
.contest,
.contests {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.contest h1,
.contests h1 {
  margin-bottom: 30px;
}
.contest .row,
.contests .row {
  justify-content: space-between;
}
.contest .more,
.contests .more {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 20px;
}
.contest .more a,
.contests .more a {
  color: #E34830;
  text-decoration: none;
}
.contest .more a:hover,
.contests .more a:hover {
  text-decoration: underline;
}
.contest .contestItem,
.contests .contestItem {
  border: 2px solid #2c2c2c;
  border-radius: 20px;
  padding: 0;
  width: 28%;
}
.contest .contestItem > *,
.contests .contestItem > * {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
  /* .contest .contestItem img,
  .contests .contestItem img {
    width: 80%;
  } */
.contest .contestItem .text,
.contests .contestItem .text {
  padding-left: 20px;
  width: 80%;
}
.contest .contestItem .name,
.contests .contestItem .name {
  margin-top: 20px;
  font-size: 20px;
}
.contest .contestItem .col,
.contests .contestItem .col {
  /* display: flex; */
  /* justify-content: space-between; */
  margin-top: 20px;
}
.contest .contestItem .tags,
.contests .contestItem .tags {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.contest .contestItem .tags .tag,
.contests .contestItem .tags .tag {
  padding: 10px 30px;
  border-radius: 10px;
}
.contest .contestItem .tags .tag-green,
.contests .contestItem .tags .tag-green {
  border: 2px solid #02FF02;
}
.contest .contestItem .tags .tag-yellow,
.contests .contestItem .tags .tag-yellow {
  border: 2px solid #959A11;
}
.contest .contestItem .tags .tag-red,
.contests .contestItem .tags .tag-red {
  border: 2px solid #C20505;
}

.contests .row {
  gap: 30px;
  justify-content: start;
  align-items: stretch;
}

.head {
  margin-bottom: 3px;
  opacity: 0.8;
  font-size: 0.9em;
}

.charts.container {
  margin: auto;
  margin-bottom: 50px;
  border: 2px solid #2c2c2c;
  padding: 50px;
  border-radius: 20px;
}
.charts.container p {
  margin: 0;
}
.charts.container h1 {
  margin-bottom: 20px;
  font-size: 30px;
}
.charts.container h3 {
  font-size: 22px;
}
.charts.container img {
  width: 70%;
  display: flex; 
  justify-content: center ;
}
.charts.container .row {
  margin-top: 30px;
  justify-content: space-between;
}
.charts.container .col-3 {
  padding: 0;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #959A11;
}
.charts.container .col-3 .chart_num {
  text-align: center;
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.charts.container .text {
  padding: 10px;
}
.charts.container .text h4 {
  margin-top: 20px;
}
.charts.container .top-tracks .creator {
  margin-bottom: 10px;
}
.charts.container .others {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
}
.charts.container .others .other {
  display: flex;
  align-items: center;
  gap: 40px;
}
.charts.container .others .other .chart_num {
  font-weight: 700;
  font-size: 1.2em;
  color: #959A11;
}
.charts.container .creators .row {
  justify-content: center;
  gap: 50px;
}
.charts.container .creators .row .creator {
  position: relative;
  padding-top: 70px;
}
.charts.container .creators .row .creator .chart_num {
  margin: auto;
  padding: 10px 20px;
  background-color: rgb(81, 159, 248);
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  border-radius: 5px;
  position: relative;
  font-size: 17px;
  z-index: 10;
}
.charts.container .creators .row .creator .text {
  border: 3px solid #959A11;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.charts.container .creators .row .creator .text .name {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 15px;
}
.charts.container .creators .row .creator img {
  width: 80px;
  position: absolute;
  object-fit: contain;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.charts.container .others.cr .head {
  width: 600px;
}
.charts.container .others.cr .other.cr {
  width: 600px;
}
.charts.container .others.cr .other.cr img {
  width: 30px;
}
.charts.container .others.cr .col {
  display: flex;
  align-items: center;
  gap: 30px;
}
.charts.container .others.cr .col h3 {
  margin: 0;
}
.charts.container .more {
  text-align: center;
  color: #E34830;
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 50px;
}
.top-playlists,
.top-podcasts,
.other-playlists {
  margin-bottom: 50px;
}
.top-playlists h1,
.top-podcasts h1,
.other-playlists h1 {
  margin-bottom: 30px;
  font-size: 30px;
}
.top-playlists .row,
.top-podcasts .row,
.other-playlists .row {
  /* justify-content: space-between; */
  gap: 30px;
  padding: 0 20px;
  width: 100%;
}
.top-playlists .row .col-3,
.top-podcasts .row .col-3,
.other-playlists .row .col-3 {
  border: 2px solid #2c2c2c;
  padding: 0;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}
.top-playlists .row .col-3 img,
.top-podcasts .row .col-3 img,
.other-playlists .row .col-3 img {
  width: 80%;
  -o-object-fit: contain;
  object-fit: contain;
  margin-left: 30px;
}
.top-playlists .row .col-3 .text,
.top-podcasts .row .col-3 .text,
.other-playlists .row .col-3 .text {
  padding: 30px;
  padding-top: 0;
}
.top-playlists .row .col-3 .tag,
.top-podcasts .row .col-3 .tag,
.other-playlists .row .col-3 .tag {
  padding: 10px 30px;
  font-weight: 600;
  border: 2px solid #02FF02;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 10px;
}
.top-playlists .row .col-3 .name,
.top-podcasts .row .col-3 .name,
.other-playlists .row .col-3 .name {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}
.top-playlists .row .col-3 .d-flex,
.top-podcasts .row .col-3 .d-flex,
.other-playlists .row .col-3 .d-flex {
  margin-top: 10px;
}
.top-playlists .row .col-3 .col,
.top-podcasts .row .col-3 .col,
.other-playlists .row .col-3 .col {
  flex: none;
}
.top-playlists .row .col-3.podcast .creator img,
.top-podcasts .row .col-3.podcast .creator img,
.other-playlists .row .col-3.podcast .creator img {
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-playlists .row .col-3.podcast .prize,
.top-podcasts .row .col-3.podcast .prize,
.other-playlists .row .col-3.podcast .prize {
  color: #02FF02;
}
.top-playlists .row .col-3.podcast .name,
.top-podcasts .row .col-3.podcast .name,
.other-playlists .row .col-3.podcast .name {
  margin: 0;
}
.top-playlists .row .col-3.podcast .creator,
.top-podcasts .row .col-3.podcast .creator,
.other-playlists .row .col-3.podcast .creator {
  display: flex;
  align-items: center;
  gap: 20px;
}/*# sourceMappingURL=styles.css.map */
.live {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}
.users {
  display: flex;
  justify-content: center;
}
.users div {
  position: relative;
}
.users img {
  width: 50%;
}
.videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.videos .vote {
  background-color: rgb(116, 21, 21);
  border: none;
  border-radius: 5px;
  color: white;
}
.videos .likes {
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(9, 77, 9);
  margin-right: 10px;
}
.videos .dislikes {
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(129, 20, 20);
}
.wallet {
  display: flex;
  justify-content: center;
}